
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');
$primary_color: rgb(182, 220, 250);
$secondary_color: rgb(33, 107, 154 );
$darker_color: rgba(5, 12, 49, 0.9);
$underscore_img: url("../images/blank.png");
$background_img: url("../images/background.jpg");
$min_width: 1200px;

@mixin letter-box($bg-img) {
    min-width: 60px;
    min-height: 50px;
    padding-top: 10px;
    font-size: 32px;
    display: inline-block;
    background-image: $bg-img;
    background-size: contain;
    color:  $primary_color;
}

@mixin button-style($font-size, $border-radius){
    font-family: 'Jura', sans-serif;
    color: white;
    background-color: $secondary_color;
    font-size: $font-size;
    border-radius: $border-radius;
}

body{ 
    background: $background_img no-repeat center top #000;
    position: static;
    color: white;
    font-family: 'Jura', sans-serif;
    text-align: center;
}
button{
    @include button-style(14px, 2px);
    margin: 0 5px 0 5px;
}
button:disabled {
    border: solid 2px;
    background-color: gray;
    opacity: 0.5;
}

header{
    min-width: $min_width;
    display: inline-block;
    h1{
        margin: 10px 0 10px 0;
    }
    button{
        text-align: left;
    }
}
footer{
    margin-top: 10px;
}

button:hover:enabled{
    background-color: black;
    color: $primary_color;
    border: solid 2px;
    cursor: pointer;
}

.main-content{
    display: inline-block;
    text-align: center;
    width: $min_width;
    min-height: 550px;
    border-style: ridge none ridge none;
    background-color: rgba(0, 0, 0, .5);
    img{
        max-height: 475px;
        max-width: 50%;
    }
}
.board{
    display: flex;
    padding-bottom: 5px;
    h3{
        img{
            border: dashed 2px;
            border-radius: 75px;
            opacity: 0.00;
        }       
    }
    div{
        align-self: flex-end;
        padding-bottom: 10px;
    }
}
.keyboard{
    min-width: 50px;
    min-height: 50px;
    margin: 10px;
    @include button-style(28px, 15px);
}
.strikethrough{
    text-decoration: line-through;
}
.alpha{
    @include letter-box($underscore_img);
}
.non-alpha{   
    @include letter-box(none); 
}

.popup {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .popup-content {
    background: $darker_color;
    opacity: 0.9;
    margin: 15% auto; 
    padding: 20px;
    border: 2px solid $primary_color;
    max-width: 500px;
    border-radius: 25px 0 25px 0;

    h3{
        margin-top: 0;
        text-decoration: underline;
    }
    .quote{
        font-size: 14px;
    }
    ul{
        text-align: left;
    }
    ul li {
        list-style-type: circle;
    }
  }
  