@import url("https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap");
body {
  background: url("../images/background.jpg") no-repeat center top #000;
  position: static;
  color: white;
  font-family: 'Jura', sans-serif;
  text-align: center;
}

button {
  font-family: 'Jura', sans-serif;
  color: white;
  background-color: #216b9a;
  font-size: 14px;
  border-radius: 2px;
  margin: 0 5px 0 5px;
}

button:disabled {
  border: solid 2px;
  background-color: gray;
  opacity: 0.5;
}

header {
  min-width: 1200px;
  display: inline-block;
}

header h1 {
  margin: 10px 0 10px 0;
}

header button {
  text-align: left;
}

footer {
  margin-top: 10px;
}

button:hover:enabled {
  background-color: black;
  color: #b6dcfa;
  border: solid 2px;
  cursor: pointer;
}

.main-content {
  display: inline-block;
  text-align: center;
  min-width: 1200px;
  min-height: 550px;
  border-style: ridge none ridge none;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-content img {
  max-height: 475px;
  max-width: 50%;
}

.board {
  display: flex;
  padding-bottom: 5px;
}

.board h3 img {
  border: dashed 2px;
  border-radius: 75px;
  opacity: 0.00;
}

.board div {
  display: block;
}

.keyboard {
  min-width: 50px;
  min-height: 50px;
  margin: 10px;
  font-family: 'Jura', sans-serif;
  color: white;
  background-color: #216b9a;
  font-size: 28px;
  border-radius: 15px;
}

.strikethrough {
  text-decoration: line-through;
}

.alpha {
  min-width: 60px;
  min-height: 50px;
  padding-top: 10px;
  font-size: 32px;
  display: inline-block;
  background-image: url("../images/blank.png");
  background-size: contain;
  color: #b6dcfa;
}

.non-alpha {
  min-width: 60px;
  min-height: 50px;
  padding-top: 10px;
  font-size: 32px;
  display: inline-block;
  background-image: none;
  background-size: contain;
  color: #b6dcfa;
}

.popup {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: white;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.popup-content {
  background: rgba(5, 12, 49, 0.9);
  opacity: 0.9;
  margin: 15% auto;
  padding: 20px;
  border: 2px solid #b6dcfa;
  max-width: 500px;
  border-radius: 25px 0 25px 0;
}

.popup-content h3 {
  margin-top: 0;
  text-decoration: underline;
}

.popup-content .quote {
  font-size: 14px;
}

.popup-content ul {
  text-align: left;
}

.popup-content ul li {
  list-style-type: circle;
}
